.hamburger {
	width: 40px;
	height: 40px;
	padding: 6px;
	margin: 0;
	position: fixed;
	outline: none;
	border: none;
	background: #242424;
	color: #fff;
	border-radius: 0.375rem;
	left: 10px;
	bottom: 10px;
	z-index: 100;
}

.container {
	width: 30vw;
	position: fixed;
	left: 0;
	bottom: 0px;
	background: linear-gradient(
			45.89deg,
			#0354ad 0%,
			rgba(8, 133, 219, 0.74) 100.74%
		),
		rgba(8, 133, 219, 0.74);
	height: 100vh;
}
