.home {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 140px;
}
.home > * {
	flex-grow: 1;
}
.home > *:nth-child(5) {
	flex-grow: 0;
}
.coursePage {
	min-width: 400px;
	width: 74vw;
	margin-left: 40px;
	margin-top: 140px;
}
